["Prediction: AI will make formal verification go mainstream"](
https://martin.kleppmann.com/2025/12/08/ai-formal-verification.html) -
basically something I thought this week (though with "might" rather than "will"),
and today found this person also say on the Internet.
